/* Do przechowywania palety kolorów układu (tekst, tło, zaznaczenie) używane są zmienne CSS.*/

:root {
  --colorMain: #2196f3;
  --colorTextMainB: #212121;
  --colorTextMainG: #757575;
  --background: #ececec;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
svg,
img {
  display: block;
}

.fix3 {
  margin-top: 30px;
}
.sad {
  display: flex;
  gap: 0px;
  justify-content: center;
}

.header1 {
  display: flex;
  margin: 0;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.fix {
  border-bottom: 1px solid #ececec;
  min-width: 1200px;
}
body {
  font-family: Roboto, sans-sef;
  color: var(--colorTextMain);
}

.nav1 {
  display: flex;
  margin-left: 96px;
  gap: 46px;
}

.nav2 {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}

.link:focus,
.link:hover {
  color: var(--colorMain);
}

.link {
  color: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
  color: var(--colorTextMain);
  border: none;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus,
.button:hover {
  color: white;
  background-color: var(--colorMain);
}

.WebStudio {
  font-family: Raleway;
  font-weight: bold;
  color: var(--colorTextMain);

  border: none;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: 0, 03em;
}

.Web {
  color: var(--colorMain);
}

.navigation-2 {
  color: var(--colorTextMainG);
  font-size: 14px;
}

.navigation {
  font-size: 14px;
  letter-spacing: 0, 02em;
}

.heading-1 {
  color: white;
  font-size: 44px;
  padding-top: 200px;
  padding-bottom: 30px;
}

.buton-center {
  border-radius: 4px;
  height: 50px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0, 06em;
  line-height: 1, 87;
  margin-bottom: 200px;
}
.section-1:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0, 03em;
  color: var(--colorTextMainB);
}

.section-1:nth-child(2) {
  font-size: 14px;
  letter-spacing: 0, 03em;
  color: var(--colorTextMainG);
  line-height: 0, 71;
}

.heading-2 {
  font-size: 36px;
  color: var(--colorTextMainB);
  line-height: 0, 71;
  letter-spacing: 0, 03em;
  padding-bottom: 50px;
}
.section-2 {
  padding-bottom: 30px;
}

.section-2 p:nth-child(2) {
  font-size: 16px;
  color: var(--colorTextMainB);
  letter-spacing: 0, 03em;
  font-weight: 500;
}
.section-2 p:nth-child(3) {
  font-size: 16px;
  color: var(--colorTextMainG);
  letter-spacing: 0, 03em;
  font-weight: 500;
}
.section-3 li:nth-child(n) {
  font-size: 18px;
  color: var(--colorTextMainB);
  letter-spacing: 0, 06em;
  line-height: 2;
  font-weight: 700;
}

.section-2 {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  background: #ffffff;
}
.container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.section1 {
  background-color: #2f303a;
  background-image: url("../images/background.jpg");
  width: 100%;
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: center;
}
.new {
  background: rgba(47, 48, 58, 0.4);
  width: 100%;
  height: 100%;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-1 {
  display: flex;
  gap: 30px;
}
.sectionabg {
  padding-top: 0px;
}
.container-1 {
  text-align: left;
}

.a1 {
  display: flex;
  gap: 30px;
}
.v2 {
  background-color: #f5f4fa;
  width: 100%;
  min-width: 1200px;
}
.section-3 {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.items {
  background-color: #2f303a;
  width: 100%;
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.WebStudio {
  display: block;

  margin-bottom: 20px;
}

.items-2 {
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
  padding-top: 94px;
}
.items-3 {
  display: flex;
  padding-top: 94px;
  gap: 8px;
  justify-content: center;
}
.item34 {
  height: 38px;
  width: 121px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item34:hover,
.item34:focus {
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

.a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
  padding-left: 24px;
}
.b {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  padding-left: 24px;
}
.marg {
  margin: 0px;
}

.pic {
  background: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px 4px 4px 4px;
  padding: 25px 100px 25px 100px;
}
.svg {
  margin-right: 10px;
}
.pic3 {
  margin-right: 10px;
  fill: #afb1b8;
  cursor: pointer;
  border-radius: 50%;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pic3:last-child {
  margin-right: 0px;
}

.pic3:focus,
.pic3:hover {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}
.das {
  width: 1200px;
  margin: 0 auto;
}
.las {
  width: 500px;
}

.aaa {
  display: flex;
  gap: 10px;
  align-items: center;
  fill: #757575;
  text-decoration: none;
  color: var(--colorTextMainG);
  font-size: 14px;

  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.aaa:hover,
.aaa:focus {
  fill: #2196f3;
  color: var(--colorMain);
}
.section-4 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.item10 {
  border-style: solid;
  border-width: 1px;
  border-color: #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item10:hover,
.item10:focus {
  fill: #2196f3;

  border: 1px solid #2196f3;
  border-radius: 4px;
}
.temp {
  display: flex;
  gap: 70px;
}

.pic4 {
  fill: #ffffff;
  background: #2196f3;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.pic4:focus,
.pic4:hover {
  background: #2196f3;
  border-radius: 50%;
}
.aaaaa {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 20px;
}
.temp2 {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.c:hover {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}

.c {
  width: 370px;
  border: 1px solid #eeeeee;
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-items-2 {
  color: #ffffff99;
  margin-bottom: 9px;
}

.footer-items-2:last-child {
  margin-bottom: 0px;
}

.footer-items-3 {
  color: #ffffff;
  margin-bottom: 9px;
}
.fix2 {
  margin-bottom: 16px;
}

.item100 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  color: white;
  text-transform: uppercase;
  width: 370px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.relative_o {
  position: relative;
}

.now::after {
  display: block;
  border: 4px solid #2196f3;

  content: "";
  border-radius: 2px;
  position: absolute;
  width: 100%;
  top: 40px;
}

.now {
  position: relative;
  color: #2196f3;
}

.new2 {
  padding-left: 24px;
  padding-right: 45px;
  padding-top: 49px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  position: absolute;
  top: 100%;
  height: 100%;
}
.relative2 {
  position: relative;
  overflow: hidden;
}
.relative2:hover .new2 {
  top: 0%;
}

.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  transition-property: transform, opacity, visibility;
  transition-duration: 0.4s;
  transform: scale(1);
}
.box {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #ffffff;
  padding-left: 40px;
}
.box2 {
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.is-hidden {
  transform: scale(0);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
@keyframes animtion {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.newletter {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  font-style: normal;
}
.email1 {
  display: block;
}

.aaaa {
  width: 358px;
  height: 50px;

  border-radius: 4px;

  border: 1px solid #ffffff4d;
  background-color: #2f303a;
  padding-left: 16px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  color: white;
  display: inline-block;
  margin-right: 12px;
}

.aaaa::placeholder {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.s1 {
  margin-bottom: 20px;
}
.zapisz {
  display: inline-block;
  width: 200px;
  height: 50px;

  border-radius: 4px;
}
.pic5s1 {
  display: inline;
  position: absolute;
  right: 28px;
  bottom: 13px;
}
.diss1 {
  border-color: #2196f3;
  position: relative;
  fill: #ffffff;
  background-color: #2196f3;
  padding-left: 42px;
  box-shadow: 0px 4px 4px 0px #00000026;
}
.ps1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #ffffff;
}

.label1 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
  margin-bottom: 4px;
}

.p2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  padding-right: 40px;
}

.imput1 {
  display: block;

  width: 448px;
  height: 40px;
  border-radius: 4px;

  padding-left: 42px;
  border: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.imput10 {
  display: block;

  width: 448px;
  height: 40px;
  border-radius: 4px;

  border: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form1 {
  position: absolute;
  top: 14px;
  left: 15px;
  margin-bottom: 10px;
  border: none;
}
.div1 {
  position: relative;
  margin-bottom: 10px;
}
.imput1:hover,
.imput1:focus {
  border: 1px solid rgba(33, 150, 243, 1);
  fill: #2196f3;
}
.imput1:hover + .form1,
.imput1:focus + .form1 {
  fill: #2196f3;
}

.koment {
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  width: 448px;
  height: 120px;
  resize: none;
}
.inline1 {
  display: inline;
}
.inline2 {
  height: 15px;
  width: 16px;
  display: inline;
}
.aaa3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 7px;
}
.div2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.lastdiv {
  margin-bottom: 20px;
}
.submitb {
  width: 200px;
  height: 50px;
  display: block;
  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196f3 solid 1px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.anima {
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.fix1 {
  top: 4px;
  left: 1px;
  fill: white;
  background-color: #2196f3;
  z-index: 1;
}

.hid2:checked {
  visibility: hidden;
}

.hid2 {
  border: #2196f3 solid 1px;
  background-color: white;
  z-index: 2;
}

.hidden1 {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
