.page-header {
  border-bottom: 1px solid #ececec;
  min-width: 1200px;
  display: flex;
  margin: 0;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 1200px;
  text-align: center;
  margin: 0 auto;

  &__nav {
    display: flex;
    margin-left: 96px;
    gap: 46px;
  }
  &_list {
    display: flex;
    margin-left: auto;
    gap: 50px;
  }
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  color: var(--colorTextMain);
  border: none;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: 0, 03em;
  display: block;
  margin-bottom: 20px;
  margin: 0px;
}

.linkT {
  color: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  letter-spacing: 0, 02em;

  &:focus,
  &:hover {
    color: var(--colorMain);
  }
  &--color-blue {
    position: relative;
    color: #2196f3;
    &::after {
      display: block;
      border: 4px solid #2196f3;
      content: "";
      border-radius: 2px;
      position: absolute;
      width: 100%;
      top: 40px;
    }
  }
}
.svg-header-icon {
  display: flex;
  gap: 10px;
  align-items: center;
  fill: #757575;
  text-decoration: none;
  color: var(--colorTextMainG);
  font-size: 14px;

  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
    color: var(--colorMain);
  }
}

.wrapper {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.list-btn {
  display: flex;
  padding-top: 94px;
  gap: 8px;
  justify-content: center;
}
.btn {
  color: var(--colorTextMain);
  border: none;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: white;
    background-color: var(--colorMain);
  }
  &--appearance {
    height: 38px;
    width: 121px;
    background-color: #f5f4fa;
    border-radius: 4px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
      0px 3px 1px 0px #0000001a;
  }
}
.list-gallery {
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
  padding-top: 94px;
  &__item {
    width: 370px;
    border: 1px solid #eeeeee;
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
        0px 1px 1px 0px #0000001f;
    }
  }
  &__animation {
    position: relative;
    overflow: hidden;

    &:hover .list-gallery__description {
      top: 0%;
    }
  }
  &__description {
    padding-left: 24px;
    padding-right: 45px;
    padding-top: 49px;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    background: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    position: absolute;
    top: 100%;
    height: 100%;

    transition-property: top;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.page-footer {
  background-color: #2f303a;
  width: 100%;
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  &__address {
    display: flex;
    gap: 70px;
  }
  &__logo {
    font-family: Raleway;
    font-weight: bold;
    color: var(--colorTextMain);

    border: none;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 0, 03em;
    display: block;

    margin-bottom: 20px;
  }
  &__item {
    color: #ffffff;
    margin-bottom: 9px;
  }
  &__item- {
    color: #ffffff99;
    margin-bottom: 9px;
  }

  &__item-:last-child {
    margin-bottom: 0px;
  }
  &__label-social-icons {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    color: #ffffff;
    font-style: normal;
    margin-bottom: 20px;
  }
  &__social-icon {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  &__label-newsletter {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    font-style: normal;
  }
  &__description-newsletter {
    margin-bottom: 20px;
  }
}
.logo-span {
  color: var(--colorMain);
}

.fix11 {
  display: block;
}

.page-footer__input {
  width: 358px;
  height: 50px;

  border-radius: 4px;

  border: 1px solid #ffffff4d;
  background-color: #2f303a;
  padding-left: 16px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  color: white;
  display: inline-block;
  margin-right: 12px;
}
.page-footer__fix11 {
  display: inline-block;
  width: 200px;
  height: 50px;

  border-radius: 4px;
}
.fix11-appearance {
  border-color: #2196f3;
  position: relative;
  fill: #ffffff;
  background-color: #2196f3;
  padding-left: 42px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.fix11__label {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #ffffff;
}
.fix11__svg {
  display: inline;
  position: absolute;
  right: 28px;
  bottom: 13px;
}
body {
  font-family: Roboto, sans-sef;
  color: var(--colorTextMain);
}
ul,
ol {
  list-style-type: none;
  padding: 0;
}
